.headbar {
  grid-area: headbar;
}

.mainContent {
  grid-area: mainContent;
  margin-top: 60px;
}

.grid-container {
  display: grid;
  grid-template-areas: 'headbar headbar headbar headbar headbar'
    'mainContent mainContent mainContent mainContent mainContent'
}
