<!--<nav>
  <ul>
    <li><a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
  </ul>
</nav>

<div>
  {{username}}
</div>
<button (click)="logout()">Logout</button>-->

<div>
  <div>
    <app-nav-bar></app-nav-bar>
  </div>
  <br/>
  <div class="conteiner">
    <router-outlet></router-outlet>
  </div>
</div>

