<div class="menu">
  <app-categories></app-categories>
</div>

<div class="products-conteiner">
  <h2 class="page-title">{{pageTitle}}</h2>
  <div class="row" *ngFor="let columns of productsOnPage">
    <div class="column" *ngFor="let product of columns">
      <div class="card">
        <a routerLink="/products/product/{{product.id}}"><img src="{{product.pictures[0].publicId}}" alt="John" style="width:100%"></a>
        <a routerLink="/products/product/{{product.id}}">{{product.name}}</a>
        <p class="description">{{product.description}}</p>
        <p>{{product.price}}</p>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="totalPages > 1">
    <a *ngIf="currentPage != 1" (click)="toPage(currentPage-1)">&lsaquo;</a>
    <a *ngFor="let page of paginationArray" [class]="currentPage == page ? isCurrent : notCurrent" (click)="toPage(page)">{{page}}</a>
    <a *ngIf="currentPage != totalPages" (click)="toPage(currentPage+1)">&rsaquo;</a>
  </div>
</div>
