.topnav {
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 99%;
  margin-bottom:50px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

  .topnav .mainNavPart a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
    color: black;
  }

    .topnav .mainNavPart a:hover {
      background-color: #d3f8ba;
      color: black;
    }


  .topnav .signPart a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
    color: black;
  }

    .topnav .signPart a:hover {
      background-color: #d3f8ba;
      color: black;
    }
