.topnav {
  height:45px;
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-bottom: 10px;
}

  .topnav .icon {
    height: 18px;
  }

  .topnav .search {
    width: 215px;
    max-width: 100%;
  }

  .topnav a, .topnav .search-container {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
  }

    .topnav a:hover {
      background-color: #d3f8ba;
      color: black;
    }

  .topnav .header-right {
    float: right;
  }

  .topnav .search-container {
    padding: 3px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .topnav .search-container button:hover {
    background: #ccc;
  }

  @media screen and (max-width: 970px) {
    .topnav {
      height:auto;
    }
    .topnav .search-container {
      float: none;
    }

    .topnav a, .topnav .search, .topnav .search-container button {
      float: none;
      display: block;
      width: 100%;
      margin: 0;
      padding: 14px;
    }

        .topnav .header-right {
            display: none;
        }

        .topnav .search {
          border: 1px solid #ccc;
        }

      .topnav .search-container button {
        border: 1px solid #ccc;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
  }
