<div class="user-card" *ngIf="userDetails">
  <h1>Мой кабинет</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Имя пользователя: </strong><input type="text" placeholder="{{userDetails.userName}}" name="userName" id="userName">
    </li>
    <li class="list-group-item">
      <strong>Город: </strong><input type="text" placeholder="{{userDetails.city}}" name="city" id="city">
    </li>
    <li class="list-group-item">
      <strong>Email: </strong><input type="text" placeholder="{{userDetails.email}}" name="email" id="email">
    </li>
    <li class="list-group-item">
      <strong>Пол: </strong><input type="text" placeholder="{{userDetails.gender}}" name="gender" id="gender">
    </li>
    <li class="list-group-item">
      <strong>Номер телефона: </strong>+375 <input type="text" placeholder="{{userDetails.phoneNumber}}" name="phoneNumber" id="phoneNumber">
    </li>
    <li class="list-group-item">
      <strong>Дата рождения: </strong><input type="text" placeholder="{{userDetails.birthDate}}" name="birthDate" id="birthDate">
    </li>
    <a routerLink="" class="btn-change-info" >Сохранить изменения</a>

    <li *ngIf="userDetails.userName != 'admin'">
      <br>
      <form #form="ngForm" autocomplete="off" (submit)="changePassword(form)">
        <div class="form-group">
          <input name="userId" #userId="ngModel" [(ngModel)]="passModel.userId"
                 type="hidden" class="form-control" placeholder="id" required>
          <input name="newPassword" #newPassword="ngModel" [(ngModel)]="passModel.newPassword"
                 class="form-control" placeholder="Новый пароль." required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-block" [disabled]="form.invalid">
            Изменить
            пароль
          </button>
        </div>
      </form>

      <a routerLink="/" class="btn-delete" *ngIf="userDetails.userName != 'admin'" (click)="deleteAccount(userDetails.id)">Удалить аккаунт</a>
    </li>
  </ul>
</div>

<br />

<div class="products-conteiner">
  <h2>Ваши объявления</h2>
  <div class="row" *ngFor="let columns of productsInGroups">
    <div class="column" *ngFor="let product of columns">
      <div class="card">
        <a routerLink="/products/product/{{product.id}}"><img src="{{product.pictures[0].publicId}}" alt="{{product.name}}" style="width:100%"></a>
        <a routerLink="/products/product/{{product.id}}">{{product.name}}</a>
        <p class="description">{{product.description}}</p>
        <p>{{product.price}}</p>
        <p><button class="btn-change">Изменить</button><button class="btn-delete" (click)="deleteUserProductById(product.id)">Удалить</button></p>
      </div>
    </div>
  </div>
</div>
